<div class="body">

<div class="header">
  <div class="header-container">
    <img src="assets/logo.png" class="logo">
    <span>Hi, {{opsService.ops.realName}} welcome to rabbit dead letter queue monitor!</span>
  </div>
</div>

<app-custom-queue-dialog #dialog></app-custom-queue-dialog>

<div class="container">

  <app-queuedrawer #drawer></app-queuedrawer>

  
  <nz-button-group>
    <button nz-button nzType="primary" (click)="refreshALL()"[nzLoading]="isLoading" >刷新</button>
  </nz-button-group>

  <div style="overflow:hidden">
    <input nz-input [(ngModel)]="queueName" placeholder='请输入队列的名字' style="width:600px;" />
    <button nz-button nzType="primary" (click)="showMessageContent()"[nzLoading]="isLoading">显示消息内容</button>
  </div>
  
  <nz-tabset>
    <nz-tab nzTitle="商业化的死信队列">
      <button style="margin-left: 20px;" nz-button nzType="primary" (click)="dialog.show()">
        <i nz-icon type="plus-circle" theme="outline"></i>新增监控队列
      </button>
      <ul style="margin-top: 10px">
        <li *ngFor="let queue of deadQueues" class="li-item">
          <nz-tag [nzColor]="cyrb53(queue.host)">{{queue.host}}</nz-tag>
          <a href="#" (click)="drawer.show(queue);">{{queue.name}} </a> [{{queue.messagesReady}}]
        </li>
      </ul>
    </nz-tab>
    <nz-tab nzTitle="服务与死信队列">
      <app-app ></app-app>
    </nz-tab>
    <nz-tab nzTitle="消息迁移工具">
      <app-migrate></app-migrate>
    </nz-tab>
    <nz-tab nzTitle="通知设置">
      <app-setting></app-setting>
    </nz-tab>
    <nz-tab nzTitle="Rabbit源配置">
      <app-node></app-node>
    </nz-tab>
  </nz-tabset>
</div>

</div>